<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/redmond/jquery-ui-1.8.11.custom.css")" rel="stylesheet"
    type="text/css" />
    <link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("~/Content/Slot/Slot.css")" />
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.custom.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Slot.js")" type="text/javascript"></script>    
</head>
<body>
    @RenderBody()
</body>
</html>
